/* Input Border */
.mat-form-field-appearance-outline .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-width: 1px !important;
  color: #dddfe1;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 2px 0 10px;
}

/* Input Font */
.mat-input-element {
  caret-color: #696969;
}

.mat-form-field input {
  color: #696969 !important;
  font-family: Lato, "Helvetica Neue", sans-serif !important;
  font-size: 13px !important;
  letter-spacing: 0 !important;
  padding: 5px 5px 4px !important;
}